<body>
    <div class="dash">
      <div class="dash-app">
        <app-menu-admin></app-menu-admin>
        <app-header-admin></app-header-admin>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div style="margin: 10px;" class="card spur-card">
              <div class="card-header" style="background-color: rgba(241, 126, 213, 0.18);">
                <div class="spur-card-icon">
                  <i class="fas fa-table"style="color: #f17ed5;"></i>
                </div>
                <div class="spur-card-title" style="color: black">Lista de Usuarios</div>
              </div>
              <div class="card-body ">
                <table class="table table-in-card">

                  <thead>
                    <tr>
                      <th scope="col">ID Usuario</th>
                      <th scope="col">Email</th>
                      <th scope="col">Username</th>
                      <th scope="col">Editar</th>

                    </tr>
                  </thead>


                  <tbody>
                    <tr *ngFor="let usuario of usuarios; let i =index">
                      <td>{{usuario.idUsuario}}</td>
                      <td>{{usuario.idUsuario.idrol}}</td>

                      <td>{{usuario.email}}</td>
                      <td>{{usuario.username}}</td>

                      <td><button (click)="editar(usuario.id_usuario)" class="btn-editar"><i class="fas fa-edit"></i></button></td>
                     
                    </tr>
                  </tbody>
                </table><br>

                <div class="container-contact100-form-btn">
                  <button (click)="agregar()" class="btn " type="submit">Agregar</button>
              </div>
              



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  