<div></div>
<footer class=" foot footer ">
    <div class="backrosa">
        <div class="center"><div class="card">
            <div class="card-body">
                Somos fabricantes y proveedores de calzado de mujer construido por los mejores profesionales del sector, materiales de primera calidad. Comercializamos diseños modernos de plataformas, sandalias, mocasines y calzado para eventos perfectos para cada ocasión.
            </div>
          </div>
        </div></div>
        <div class="row redes">
            <div class="col-6">
                <div class="row">
                    <div class="col-2"><a href="/contacto">Contactanos</a> </div>
                    <div class="col-2"><a href="/productoDelMes">Descubre</a> </div>
                    <div class="col-2"><a href="/productos">Productos</a> </div>
                </div>
                
            </div>   
            
            
            <div class="col-1"><a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-lg" ></i></a> </div>
            <div class="col-1"><a href="https://www.instagram.com"><i class="fab fa-instagram fa-lg" ></i></a> </div>
            <div class="col-1"><a href="https://www.youtube.com/"><i class="fab fa-youtube fa-lg" ></i></a> </div>
            
        </div>
        <hr>
    
    
    
    <div class="row terms">
        <div class="col-8 mt-3">
            <div class="row mt-3">
                <div class="col-3 mt-4"><p style="color: #f17de5;">© 2023  All rights reserved.</p></div> <div class="col-5"></div>
                <div class="col-3 mt-3"><img src="../../../assets/images/sokaSlogo 1.png" alt=""></div>
            </div>
        </div>
        
        <div class="col-2">Terms of Service</div>
        <div class="col-2"> Privacy Policy</div>
    </div>
</footer><!-- End .footer -->