<div class="dash-nav dash-nav-dark">
    <header>
        <a class="menu-toggle">
            <i class="fas fa-bars"></i>
        </a>
        <a class="spur-logo" href="#" routerLink="/inicio">Soka shoes</a>
    </header>
    <nav class="dash-nav-list">
        <a routerLink="/admin" class="dash-nav-item">
            <i class="fas fa-home"></i> Dashboard </a>

        <a routerLink="/listaproductos" class="dash-nav-item">
            <i class="fas fa-chart-bar"></i> Productos</a>
            <a routerLink="/agregarProducto" class="dash-nav-item">
                <i class="fas fa-plus"></i> Agregar producto</a>
    </nav>
</div>
