.contact100-form-combo {

    font-family: SourceSansPro-Bold; 
    font-size: 18px;
    color: rgb(0, 128, 128);
    line-height: 1.2;
    text-align: center;
    margin-left: 18px;
  }

  
.contact100-form-title {
    display: block;
    font-family: SourceSansPro-Bold; 
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 24px;
    margin: 0 auto;
    /* margin-left: 70px; */
  }

  .contact100-form {
    width: 100%;
  }

  
.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    background-color: rgba(0, 128, 128, 0.9);
    border-radius: 21px;
  
    font-family: JosefinSans-Bold;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    padding-top: 5px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    box-shadow: 0 10px 30px 0px rgba(6, 199, 70, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(6, 199, 70, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(6, 199, 70, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(6, 199, 70, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(6, 199, 70, 0.5);
  }
  
  .contact100-form-btn:hover {
    background-color: rgb(0, 95, 95);
    box-shadow: 0 10px 30px 0px rgba(0, 128, 128, 0.8);
    -moz-box-shadow: 0 10px 30px 0px rgba(0, 128, 128, 0.8);
    -webkit-box-shadow: 0 10px 30px 0px rgba(0, 128, 128, 0.8);
    -o-box-shadow: 0 10px 30px 0px rgba(0, 128, 128, 0.8);
    -ms-box-shadow: 0 10px 30px 0px rgba(0, 128, 128, 0.8);
  }
  
  .act-group{
    padding: 50px;
    border: 1px solid #ebebeb;
    border-radius: 6%;
    box-shadow: 0 10px 30px 0px rgba(43, 224, 26, 0.1);
    margin-bottom: 10px;
  }
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  @media (max-width: 768px) {
    .wrap-contact100 {
      padding: 72px 50px 25px 50px;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-contact100 {
      padding: 72px 15px 25px 15px;
    }
  }
  