.contact100-form-title{
  padding-top: 10px;
  text-align: center;
  align-items: center;
}
.contact100-form-combo {

    font-family: SourceSansPro-Bold; 
    font-size: 18px;
    color: rgba(243, 103, 208, 0.9);
    line-height: 1.2;
    text-align: center;
    margin-left: 18px;
    margin-right: 15px;
    margin-top: 10px;
    padding-top: 20px;
  }

  .wrap-input100 {
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
  }
  
.contact100-form-title {
    display: block;
    font-family: SourceSansPro-Bold; 
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 24px;
    margin: 0 auto;
    /* margin-left: 70px; */
  }

  .contact100-form {
    width: 100%;
  }

.col-sm-10{
  text-align: center;
  align-items: center;
}
  
.contact100-form-btn {
   text-align: center;
    height: 30px;
    background-color: rgba(243, 103, 208, 0.9);
    border-radius: 15px;
  
    font-family: JosefinSans-Bold;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;  
  
    box-shadow: 0 10px 30px 0px rgba(244, 195, 229, 0.5);
  }
  
  .contact100-form-btn:hover {
    background-color: rgba(243, 103, 208, 0.9);;
    box-shadow: 0 10px 30px 0px rgba(243, 103, 208, 0.9);;
    -moz-box-shadow: 0 10px 30px 0px rgba(243, 103, 208, 0.9);;
    -webkit-box-shadow: 0 10px 30px 0px rgba(243, 103, 208, 0.9);;
    -o-box-shadow: 0 10px 30px 0px rgba(243, 103, 208, 0.9);;
    -ms-box-shadow: 0 10px 30px 0px rgba(243, 103, 208, 0.9);;
  }
  
  .act-group{
    padding: 50px;
    border: 1px solid #ebebeb;
    border-radius: 6%;
    box-shadow: 0 10px 30px 0px rgba(43, 224, 26, 0.1);
    margin-bottom: 10px;
  }
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  @media (max-width: 768px) {
    .wrap-contact100 {
      padding: 72px 50px 25px 50px;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-contact100 {
      padding: 72px 15px 25px 15px;
    }
  }
  
  .container-contact100-form-btn{
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
  }