<header >
    <div class="header">
        <nav class="row">
            <ul class="menu col-6 ">
                <li>
                    <a routerLink="/inicio" class="sf-with color">Inicio</a>
                </li>
                <li>
                    <a routerLink="/productos" class="sf-with color">Lista de Productos</a>
                </li>
                <li>
                    <a routerLink="/contacto" class="sf-with color">Productos del mes</a>
                </li>
                <li>
                    <a routerLink="/contacto" class="sf-with color">Contactanos</a>
                </li>
                <li>
                    <a *ngIf="isAdmin" routerLink="/admin" class="sf-with color">Admin</a>
                </li>
                
            </ul>
            <div class="menu col-6 justify-content-end ">
                <div class="row row-right" style="gap: 10px;">
            
                    <div *ngIf="isLogged" class="account">
                        <a routerLink="/miCuenta" title="My account" class="color">
                            <i class="fas fa-user icons"></i>
                            <p class="pr-1">Mi Cuenta</p>
                        </a>
                    </div>
    
                    <div *ngIf="!isLogged" class="account">
                        <a routerLink="/login" title="My account" >
                            <i class="fas fa-user icons"></i>
                            <p class="pr-1">Iniciar sesion</p>
                        </a>
                    </div>
                    <div class="">
                        <a routerLink="/miscompras" class="color">
                            <i class="fas fa-shopping-bag icons"></i>
                            <p class="pr-1">Mis compras</p>
                        </a>
                    </div>
                    <div class="">
                        <a routerLink="/carrito" class="color">
                            <i class="fas fa-shopping-cart icons"></i>
                            <p class="pr-1">Carrito</p>
                        </a>
                    </div>
                
                </div>
            </div>
            
        </nav>
    </div>
</header>
