<body>
    <div class="dash">
        <div class="dash-app">
            <app-menu-admin></app-menu-admin>
            <app-header-admin></app-header-admin>
            <main class="dash-content">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-9">
                        <div class="card spur-card">
                            <div class="card-header rounded-card">
                                <div class="spur-card-icon">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                                <div class="spur-card-title"> Editar producto </div>
                            </div>
                            <div class="card-body rounded">
                                <form [formGroup]="form" (submit)="onSubmit()">
                                    <input formControlName="idProducto" type="hidden" class="form-control">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Categoría </label>
                                        <select class="form-control" formControlName="categoria" *ngFor="let categoria of categorias">
                                            <option value="{{categoria.idCategoria}}">{{categoria.nombre}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Precio</label>
                                        <input formControlName="precio" type="number" class="form-control" id="exampleFormControlInput1" placeholder="0.0$">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Cantidad</label>
                                        <input formControlName="cantidad" type="number" class="form-control" id="exampleFormControlInput1" placeholder="0">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Imagen</label>
                                        <input formControlName="urlImg" type="text" class="form-control" id="exampleFormControlInput1" placeholder="http://www...">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Modelo</label>
                                        <input formControlName="modelo" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Modelo">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Descripcion</label>
                                        <input formControlName="descripcion" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Descripcion">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Marca</label>
                                        <select class="form-control" formControlName="marca">
                                            <option *ngFor="let marca of marcas"  value="{{marca.idMarca}}" >{{marca.nombre}}</option>
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Editar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
    </div>
</body>