<body>
    <div class="dash">
        <div class="dash-app">
            <app-menu-admin></app-menu-admin>
            <app-header-admin></app-header-admin>
            <main class="dash-content">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-9">
                        <div class="card spur-card">
                            <div class="card-header rounded-card">
                                <div class="spur-card-icon">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                                <div class="spur-card-title"> Editar producto </div>
                            </div>
                            <div class="card-body rounded">
                                <form [formGroup]="form" (submit)="onSubmit()">
                                    <input formControlName="idProducto" type="hidden" class="form-control">
                                    <div class="form-group">
                                      <label for="nombre">Nombre</label>
                                      <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
                                    </div>

                                    <div class="form-group">
                                      <label for="descripcion">Descripcion</label>
                                      <input formControlName="descripcion" type="text" class="form-control" id="descripcion" placeholder="Descripcion">
                                    </div>

                                    <div class="form-group">
                                      <label for="precio">Precio</label>
                                      <input formControlName="precio" type="number" class="form-control" id="precio" placeholder="0.0$">
                                    </div>

                                    <div class="form-group">
                                      <label for="cantidad">Cantidad</label>
                                      <input formControlName="cantidad" type="number" class="form-control" id="cantidad" placeholder="0">
                                  </div>

                                  <div class="form-group">
                                    <label for="marca">Marca</label>
                                    <select class="form-control" formControlName="marca">
                                        <option *ngFor="let marca of marcas"  value="{{marca.idMarca}}" >{{marca.nombre}}</option>
                                    </select>
                                  </div>

                                  <div class="form-group">
                                    <label for="categoria">Categoría</label>
                                    <select class="form-control" formControlName="categoria">
                                      <option *ngFor="let categoria of categorias" value="{{categoria.idCategoria}}">{{categoria.nombre}}</option>
                                    </select>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Editar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
